#videoIntro {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
}

/* .section klasse über dem video lassen bei kleinen screen */
@media (max-width: 992px) {
    #videoIntro {
        min-height: 100vh;
    }
}

#footer .container a:hover {
    text-decoration: none;
}

#footer .container #fb_link i {
    color: #3b5998;
}

#footer .container #twitter_link i {
    color: #1da1f2;
}

#footer .container #insta_link i {
    color: #e1306c;
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}

#overlay .section {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #f3f3f3;
    text-align: center;
    padding: 40px;
}

#overlay .section h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0.08em;
}

#overlay .section p {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.08em;
}

#overlay .section p:last-of-type {
    margin-bottom: 42px;
}

#overlay .section #anchor {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .4);
    padding: 24px 20px 14px;
}

#overlay .section #anchor i {
    color: rgba(255, 255, 255, .8);
    font-size: 28px;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    -webkit-animation: bounce 1.5s ease-in-out infinite;
    -o-animation: bounce 1.5s ease-in-out infinite;
    animation: bounce 1.5s ease-in-out infinite;
}

#overlay .section #anchor:hover {
    background: rgba(255, 255, 255, .8);
}

#overlay .section #anchor:hover i {
    color: rgba(0, 0, 0, .7);
}

/**
 * Bounce Effekt
 * 3 pixel nach unten dann 2 pixel nach oben (vom ursprung aus)
 */
@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    33% {
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: translateY(3px);
    }
    66% {
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin-top: 20px;
    margin-bottom: 20px;
}

#steps .row .icon i {
    font-size: 52px;
    margin-bottom: 16px;
    color: #34495e;
}

#steps .text {
    color: #2c3e50;
    font-size: 24px;
}

#steps .row .text {
    color: #2c3e50;
    font-size: 18px;
}

#tables_list .card {
    text-align: center;
    min-width: 200px;
    max-width: 350px;
}

#tables_list .card .heading {
    font-size: 48px;
    font-weight: 800;
    font-style: italic;
    margin-top: 0px;
}

#tables_list .card .sub {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin-bottom: -10px;
}

#tables_list .card:hover {
    cursor: pointer;
    color: #2c3e50;
}

.modal .modal-body .d-flex .form-check label {
    margin-left: 10px;
}

/**
 * LOGIN
 */
#login-page {
    min-height: 100vh;
    width: 100%;
    background: #f6f6f6;
}

#login-card {
    width: 100%;
    max-width: 430px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/**
 * ANIMATIONS
 */
@keyframes placeholderShimmer {
    to {
        background-position: 120% 0;
    }
}

@keyframes placeholderParagraphShimmer {
    to {
        background-position: 120% 0, 0 0, 0 24px, 0 48px, 0 72px; /* Zeile 4 */
    }
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/**
 * PLACEHOLDER
 */
.placeholder-title {
    background: rgba(69, 85, 101, 0.15);
    height: 26px;
    margin-right: 70%;
    background-repeat: repeat-y;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1));
    background-size: 20% 100%;
    background-position: -20% 0;
    animation: placeholderShimmer 1s infinite;
    margin-bottom: 16px;
}

.placeholder-title:last-child {
    margin-bottom: 0;
}

.placeholder-text {
    background: rgba(69, 85, 101, 0.15);
    height: 16px;
    background-repeat: repeat-y;
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1));
    background-size: 20% 100%;
    background-position: -20% 0;
    animation: placeholderShimmer 1s infinite;
}

.placeholder-image {
    background: rgba(69, 85, 101, 0.15);
    height: 200px;
    background-repeat: repeat-y;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1));
    background-size: 20% 100%;
    background-position: -20% 0;
    animation: placeholderShimmer 1s infinite;
}

.placeholder-image.round {
    border-radius: 50%;
    width: 200px;
}

.placeholder-paragraph {
    background-repeat: repeat-y;
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(rgba(69, 85, 101, 0.15) 16px, transparent 0), linear-gradient(rgba(69, 85, 101, 0.15) 16px, transparent 0), linear-gradient(rgba(69, 85, 101, 0.15) 16px, transparent 0), linear-gradient(rgba(69, 85, 101, 0.15) 16px, transparent 0); /* Zeile 4 */
    background-size: 20% 120px, 24% 120px, 95% 120px, 91% 120px, 97% 120px; /* Zeile 4 */
    background-position: -20% 0, 0 0, 0 24px, 0 48px, 0 72px; /* Zeile 4 */
    animation: placeholderParagraphShimmer 1s infinite;
    height: 100px;
    margin-bottom: 2rem;
}

.toast-alert {
    z-index: 1080;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(5, 5, 5, 0.9);
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    padding: 12px 18px;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    width: 101%;
    min-width: 280px;
}

@media (min-width: 560px) {
    .toast-alert {
        width: auto;
        max-width: 560px;
    }
}

.toast-alert.fade {
    opacity: 0;
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    transition: all 0.25s ease-out;
}

.toast-alert.fade.in {
    opacity: 1;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.toast-alert .fa {
    margin-right: 9px;
}

.toast-alert.toast-primary {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(114, 191, 68, 0.9);
}

.toast-alert.toast-secondary {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(69, 85, 101, 0.9);
}

.toast-alert.toast-info {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(7, 132, 193, 0.9);
}

.toast-alert.toast-success {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(46, 125, 50, 0.9);
}

.toast-alert.toast-warning {
    color: rgba(35, 35, 35, 0.9);
    background-color: rgba(245, 168, 28, 0.9);
}

.toast-alert.toast-danger {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(205, 32, 46, 0.9);
}

/**
 * TISCHE
 */
.res_table {
    text-align: center;
    width: auto;
    position: relative;
    margin: auto;
}

.res_table.hor tr td {
    width: 80px;
}

.res_table.hor tr:first-child {
    border-bottom: 1px solid black;
}

.res_table.hor tr:last-child {
    border-top: 1px solid black;
}

.res_table.hor tr:nth-child(2) {
    height: 75px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.res_table.hor.paying tr:nth-child(2) td {
    background: rgba(46, 125, 50, 0.1);
}

.res_table.hor.ordering tr:nth-child(2) td {
    background: rgba(52, 152, 219, 0.1);
}

.res_table.hor.calling tr:nth-child(2) td {
    background: #f5a81c;
}

.res_table.ver tr:first-child td:nth-child(2) {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.res_table.ver tr:not(:first-child) td:nth-child(2), .res_table.ver tr:not(:last-child) td:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.res_table.ver tr:last-child td:nth-child(2) {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 75px;
}

.res_table.ver tr td {
    height: 80px;
    padding: .75rem;
    padding-top: 1.5rem;
}

.res_table.ver.paying tr:first-child td:nth-child(2) {
    background: rgba(46, 125, 50, 0.1);
}

.res_table.ver.paying tr:not(:first-child) td:nth-child(2), .res_table.ver.paying tr:not(:last-child) td:nth-child(2) {
    background: rgba(46, 125, 50, 0.1);
}

.res_table.ver.paying tr:last-child td:nth-child(2) {
    background: rgba(46, 125, 50, 0.1);
}

.res_table.ver.ordering tr:first-child td:nth-child(2) {
    background: rgba(52, 152, 219, 0.1);
}

.res_table.ver.ordering tr:not(:first-child) td:nth-child(2), .res_table.ver.ordering tr:not(:last-child) td:nth-child(2) {
    background: rgba(52, 152, 219, 0.1);
}

.res_table.ver.ordering tr:last-child td:nth-child(2) {
    background: rgba(52, 152, 219, 0.1);
}

.res_table.ver.calling tr:first-child td:nth-child(2) {
    background: #f5a81c;
}

.res_table.ver.calling tr:not(:first-child) td:nth-child(2), .res_table.ver.calling tr:not(:last-child) td:nth-child(2) {
    background: #f5a81c;
}

.res_table.ver.calling tr:last-child td:nth-child(2) {
    background: #f5a81c;
}

.res_table .place {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.res_table .place input[type="checkbox"] {
    opacity: 0;
}

.res_table .place .seat {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 15%;
    margin-left: -13px;
    background-color: #f1f1f1;
    width: 25px;
    height: 25px;
    border-radius: 6px;
}

.res_table .place .seat:after {
    content: "";
    position: absolute;
    display: none;
}

.res_table .place .seat:hover {
    background-color: #bdc3c7;
}

.res_table .place input[type="checkbox"]:checked ~ .seat {
    background-color: #3498db;
}

.res_table .place.submitted .seat {
    background: rgba(46, 125, 50, 0.4);
}

.res_table .place.submitted .seat:hover {
    background: rgba(46, 125, 50, 0.6);
}

.res_table .place.submitted input:checked ~ .seat {
    background: #2e7d32;
}

.res_table .place.error .seat {
    background-color: rgba(205, 32, 46, 0.4);
}

.res_table .place.error .seat:hover {
    background: rgba(205, 32, 46, 0.6);
}

.res_table .place.error input:checked ~ .seat {
    background: #cd202e;
}

/**
 * MOBILE MENU
 */
.menu {
    display: none;
    position: absolute;
    top: 14px;
    right: 14px;
    height: 30px;
    width: 40px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    z-index: 3;
}

.menu > div {
    position: absolute;
    left: 0;
    top: 10px;
    height: 5px;
    width: 100%;
    background: white;
    transition: all .75s ease;
}

.menu > div::before, .menu > div::after {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    transform: rotate(0deg);
    background: white;
    transition: all .5s ease;
}

.menu > div:before {
    top: -10px;
}

.menu > div:after {
    top: 10px;
}

.menu.open {
    transition: all .35s ease;
    z-index: 3;
}

.menu.open > div {
    transform: rotate(720deg);
    background: transparent !important;
}

.menu.open > div:before {
    transform: rotate(45deg);
    top: 4px;
    background: white;
    opacity: 1;
}

.menu.open > div:after {
    transform: rotate(-45deg);
    top: 4px;
    background: white;
    opacity: 1;
}

.menu.open:hover {
    transform: rotate(-90deg);
}

.mobileMenu {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    overflow: hidden;
    z-index: 12;
}

.mobileMenu.open {
    z-index: 2;
    opacity: .9;
    visibility: visible;
    height: 100%;
}

.mobileMenu.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    -o-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    -moz-animation-delay: .35s;
    -o-animation-delay: .35s;
    animation-delay: .35s;
}

.mobileMenu.open li:nth-of-type(2) {
    animation-delay: .4s;
}

.mobileMenu.open li:nth-of-type(3) {
    animation-delay: .45s;
}

.mobileMenu.open li:nth-of-type(4) {
    animation-delay: .50s;
}

.mobileMenu nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.mobileMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.mobileMenu ul li {
    display: block;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.mobileMenu ul li a {
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    overflow: hidden;
    font-size: 40px;
}

.mobileMenu ul li a:hover:after, .mobileMenu ul li a:focus:after, .mobileMenu ul li a:active:after {
    width: 100%;
}

.mobileMenu ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    height: 3px;
    background: white;
    transition: .35s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 40%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@media screen and (max-width: 960px) {
    nav .navbar-nav {
        display: none;
    }

    .menu {
        display: block;
    }
}
